{% extends "layout.html" %}

{% load static %}

{% block style %}

<style>
    body {
        background-image: url("{% static 'images/bg1.jpg' %}");
    }

    .welcome {
        padding: 120px 40px 0px 40px;
        display: flex;
        justify-content: center;
    }

    .text {
        padding-left: 40px;
    }

    .images{
        width: 460px; 
    }

    .button1 {
        display: inline-block;
        border-radius: 4px;
        background-color: #2580c1fa;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 8px;
        width: 230px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button1 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button1:hover span {
        padding-right: 20px;
    }

    .button1:hover span:after {
        opacity: 1;
        right: 0;
    }

    @media (max-width: 768px) {
        h2 {
            font-size: 2rem;
        }
        h3 {
            font-size: 1.7rem;
        }
        p, ul {
            font-size: 1.5rem;
        }
        .images{
            width: 320px; 
        }
        .welcome {
            margin: auto;
            padding: 100px 20px 0px 20px;
            display: grid;
        }
        .pho{
            margin: auto;
            display: block;
        }
        .text {
            padding: 0px;
        }
    }

</style>

{% endblock %}


{% block body %}

<div class="welcome">
    <div class="pho">
        <img class="images" src="{% static 'images/course/art.jpeg' %}">
    </div>
    <div class="text">
        <h2><b>Art & Craft</b></h2>
        <p style="font-family: Georgia;">Arts and Crafts as a subject in the school curriculum are typically taken for granted as a must for
            children and young kids in the formal education setup. There is no doubt that arts and crafts are fun
            activities for kids. Be it colouring with crayons, water colour painting or designing a handmade
            birthday card,can enhance the interest of the children and exploit their artistic potential.
        </p>
        <h3><b>We covered :</b></h3>
        <ul>
            <li>Drawing Techniques for Beginners</li>
            <li>Hatching</li>
            <li>Cross Hatching</li>
            <li>Scribble</li>
            <li>Blending</li>
            <li>Watercolor drawing</li>
            <li>Acrylic painting</li>
            <li>Oil painting</li>
            <li>Various craft work</li>
        </ul>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScuMD30RWTGCXKDpM84hRCwaqJl7drD0wQbASgT7nQQzWDClQ/viewform">
            <button class="button1" style="vertical-align:middle"><span>Wanna Learn? </span></button>
        </a>
    </div>

</div>

{% endblock %}