{% extends "layout.html" %}

{% load static %}

{% block style %}

<style>
    .welcome {
        padding-top: 140px;
    }

    .button1 {
        display: inline-block;
        border-radius: 4px;
        background-color: #2580c1fa;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 8px;
        width: 230px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }

    .button1 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

    .button1 span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

    .button1:hover span {
        padding-right: 20px;
    }

    .button1:hover span:after {
        opacity: 1;
        right: 0;
    }
</style>

{% endblock %}


{% block body %}

<div class="welcome">
    <div style="float: right;">
        <img style="width: 350px;" src="{% static 'images/course/computer.jpeg' %}">
    </div>
    <div style="margin: auto; padding: 0px 30px;">
        <h2><b>Basic Computer</b></h2>
        <p style="font-family: Georgia;">Basic computer knowledge is about how computers work and how to use them.This may include typing,learning
            keyboard commands, knowing how to connect and disconnect the internet to a computer.whether you are a
            salesperson,marketer, teacher,school going girl/boy or working professional.You need to know the
            computer basics.Having basic computer knowledge makes it easier to complete everyday tasks and increase
            workplace productivity.
        </p>
        <h3><b>We covered :</b></h3>
        <ul>
            <li>MS word </li>
            <li>MS excel</li>
            <li>MS Powerpoint</li>
            <li>MS Access </li>
            <li>Internet</li>
            <li>Advance excel</li>
        </ul>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScuMD30RWTGCXKDpM84hRCwaqJl7drD0wQbASgT7nQQzWDClQ/viewform">
            <button class="button1" style="vertical-align:middle"><span>Wanna Learn? </span></button>
        </a>
    </div>

</div>

{% endblock %}