{% extends "layout.html" %}

{% load static %}

{% block style %}

    <style>
        .cont {
            font-family: Georgia;
            padding: 40px 20px 0 20px;
        }

        .text {
            padding: 20px;
        }

    </style>

{% endblock %}


{% block body %}

<section style="margin-top: 60px; width: 96%;
margin-left: auto;
margin-right: auto;">
    <div class="cont">
        <div>
            <img style="width: 350px; float: right; padding-top: 40px;" src="{% static 'images/course/art.jpeg' %}">
        </div>
        <div class="text">
            <h2><strong>Art & Craft</strong></h2>
            <p>Arts and Crafts as a subject in the school curriculum are typically taken for granted as a must for
                children and young kids in the formal education setup. There is no doubt that arts and crafts are fun
                activities for kids. Be it colouring with crayons, water colour painting or designing a handmade
                birthday card,can enhance the interest of the children and exploit their artistic potential.</p>
            <h3><b>We covered :</b></h3>
            <ul>
                <li>Drawing Techniques for Beginners</li>
                <li>Hatching</li>
                <li>Cross Hatching</li>
                <li>Scribble</li>
                <li>Blending</li>
                <li>Watercolor drawing</li>
                <li>Acrylic painting</li>
                <li>Oil painting</li>
                <li>Various craft work</li>
            </ul>
        </div>
    </div>


    <div class="cont">
        <div>
            <img style="width: 350px; float: right; padding-top: 40px;"
                src="{% static 'images/course/computer.jpeg' %}">
        </div>
        <div class="text">
            <h2><strong>Basic Computer</strong></h2>
            <p>Basic computer knowledge is about how computers work and how to use them.This may include typing,learning
                keyboard commands, knowing how to connect and disconnect the internet to a computer.whether you are a
                salesperson,marketer, teacher,school going girl/boy or working professional.You need to know the
                computer basics.Having basic computer knowledge makes it easier to complete everyday tasks and increase
                workplace productivity.</p>
            <h3><b>We covered :</b></h3>
            <ul>
                <li>MS word </li>
                <li>MS excel</li>
                <li>MS Powerpoint</li>
                <li>MS Access </li>
                <li>Internet</li>
                <li>Advance excel</li>
            </ul>
        </div>
    </div>


    <div class="cont">
        <div>
            <img style="width: 350px; float: right; padding-top: 40px;"
                src="{% static 'images/course/graphics.jpeg' %}">
        </div>
        <div class="text">
            <h2><strong>Graphics & Web Design</strong></h2>
            <p>Website and graphic design share a similar creative space. Both involve the artistry of crafting visuals.
                But while web design is a medium, where ongoing changes and updates a part of any project, graphic
                design is about creating visuals with longevity. Graphic design skills will round out your skill set.
                Knowing how to create hand-drawn typography,custom illustrations and other type of creative flourishes
                will enhance your web design work.</p>
            <h3><b>We covered :</b></h3>
            <ul>
                <li>Adobe photoshop </li>
                <li>Adobe illustrator</li>
                <li>Adobe indesign</li>
                <li>Adobe XD </li>
                <li>Coreldraw</li>
                <li>Adobe Pagemaker</li>
            </ul>
        </div>
    </div>


    <div class="cont">
        <div>
            <img style="width: 350px; float: right; padding-top: 40px;" src="{% static 'images/course/3d.jpeg' %}">
        </div>
        <div class="text">
            <h2><strong>3D & Vfx</strong></h2>
            <p>In recent years,3D animation has taken the entertainment world by storm.The rising popularity of animated
                television,video games have ensured that there is no shortage of demand for 3D animators of all skill
                levels. 3D animation is a booming industry that still has a lot of potential to expand. If you have
                enough drive to succeed, You can make it as a 3D animator.</p>
            <h3><b>We covered :</b></h3>
            <ul>
                <li>Max </li>
                <li>Maya</li>
                <li>Zbrush</li>
                <li>Cinema 4D</li>
                <li>Vue</li>
                <li>Vray</li>
                <li>Nuke</li>
                <li>After Effect</li>
            </ul>
        </div>
    </div>


    <div class="cont">
        <div>
            <img style="width: 350px; float: right; padding-top: 40px;" src="{% static 'images/course/3d.jpeg' %}">
        </div>
        <div class="text">
            <h2><strong>Editing & Compositing</strong></h2>
            <p>Compositing is the process of combining visual elements from separate sources into single images,often to
                create the illusion that all those elements are parts of the same scene.
                Whereas, Editing is the manipulation and arrangement of videos.</p>
            <h3><b>We covered :</b></h3>
            <ul>
                <li>Adobe Premiere </li>
                <li>Adobe After Effects</li>
                <li>FCP</li>
            </ul>
        </div>
    </div>


    <div class="cont">
        <div>
            <img style="width: 350px; float: right; padding-top: 40px;" src="{% static 'images/course/finance.jpeg' %}">
        </div>
        <div class="text">
            <h2><strong>Financial Accounting</strong></h2>
            <p>If you are applying for an accounting role,it is important to possess strong computer skills related to
                this field. Basic knowledge of accounting software is a requirement for many accounting related jobs.
                There are some accounting software,after learning about them,you can mention the level of proficiency
                and experience you have using such software on your profile summary.</p>
            <h3><b>We covered :</b></h3>
            <ul>
                <li>Tally</li>
                <li>Tally prime</li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}
